 html {
    background-color: black;
  }
  .img-logo > img{
  	height:  10%;

  }
  .flaticon-menu{
  font-size: 50px;
  }
  .indicator-item{
  	background-color: red;
  }


  .slider> ul> li> img{

 opacity: 0.5;
  }
  /*
  .carousel > .carousel-item > img{
  	height: 200px;
  	width: 90%;
}


.nav-extended> .nav-wrapper> .Logo{
	height: 200px;
}
.navegacion{
left: 50%;
position: relative;
}
.navegacion> ul> li> a{
	font-size: 2em;
}*/